@use "reset.css";

$blue: #494cb4;
$light-grey: #fafafa;
$light-dark: #33393f;
$grey: #808080;
$sky: #89cfeb;
$green: #41c95a;
$yellow: #ffcb55;

p {
  margin-bottom: 5px;
}

.bg-blue {
  background-color: $blue;
}

.bg-sky {
  background-color: $sky;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-green {
  background-color: $green;
}

.bg-light-dark {
  background-color: $light-dark;
}

.bg-light-dark:hover {
  background-color: #505860;
}

.bg-light-grey {
  background-color: $light-grey;
}

.text-grey {
  color: $grey;
}

.text-white {
  color: white;
}

.sidebar {
  width: 40px;
  height: 100%;
  z-index: 1;
  position: absolute;
  transition: all 0.5s;
}

.sidebar:hover {
  width: 150px;

  .menu-name {
    transform: translateX(0px);
  }
  .icon {
    display: inline-block;
    transform: translateX(0px);
  }
}

.icon {
  display: inline-block;
  transition: all 0.5s;
  transform: translateX(-13px);
}

.menu-list {
  width: 150px;
}

.menu-name {
  transition: all 0.5s;
  display: inline-block;
  font-size: 18px;
  transform: translateX(-130px);
}

.sidebar i {
  display: block;
  text-align: center;
}

.navbar {
  width: calc(100vw - 40px);
  float: right;
}

.search-input {
  width: 150px !important;
  transition: all 0.7s;
}

.search-input:focus {
  width: 350px !important;
}

.alarm-number {
  font-size: 8px;
  padding: 4px;
  border-radius: 4px;
  position: relative;
  top: -13px;
  left: -10px;
}

.alarm-bg-red {
  background-color: #dc3444;
  color: white;
}

.content-box {
  width: calc(100vw - 40px);
  height: calc(100vh - 62px);
  float: right;
}

.dash-icon {
  text-align: center;
  color: #808080;
}

.cardlist {
  height: 150px;
}

.card {
  border: none;
  position: relative;
}

.card-contents-align {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.outer {
  position: relative;
  left: -1px;
  border-radius: 5px;
}

.inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 3px;
  top: 0px;
  border-radius: 2px 5px 5px 2px;
  background-color: white;
}

.bottom-contents {
  justify-content: space-between;
}

.chart-content {
  width: 100%;
  height: 60vh;
}

.tasks-wrap {
  height: fit-content;
}

.task-body {
  padding: 0px;
}

.task-content {
  display: flex;
}

.task-num-pill {
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
}
